alpine-baselayout
alpine-keys
apk-tools
bash
bc
busybox
ca-certificates
ca-certificates-bundle
coreutils
curl
findutils
fuse
fuse-common
fuse3
fuse3-libs
git
grep
icu-libs
jq
libacl
libattr
libc-utils
libgcc
libintl
libproc
libretls
libstdc++
libxml2-dev
libxml2-utils
linux-headers
linux-pam
logrotate
musl
musl-dev
musl-utils
ncurses-libs
ncurses-terminfo-base
openssl
pigz
procps
py-pip
python3
readline
s6-ipcserver
scanelf
shadow
skalibs
ssl_client
tar
tzdata
wget
xz
xz-libs
zlib
