apk-tools
bash
bc
busybox
ca-certificates
coreutils
curl
cronie
dos2unix
findutils
git
grep
icu-libs
jq
libxml2-dev
libxml2-utils
linux-headers
logrotate
musl
nginx
nginx-mod-http-brotli
openntpd
openssl
php8
php8-bcmath
php8-ctype
php8-curl
php8-dev
php8-dom
php8-fpm
php8-gd
php8-intl
php8-json
php8-mbstring
php8-mbstring
php8-opcache
php8-openssl
php8-session
php8-sqlite3
php8-xml
php8-xmlreader
php8-zlib
py-pip
python3
s6-ipcserver
shadow
sqlite
tar
tzdata
tzdata
unzip
wget
xz
